<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Hodnocení prezentací</title>
</head>



<div class="container">
    <h1>Vyhodnocení</h1>
 <div class="row">
<table class="table table-bordered table-responsive" id="results">
  <thead>
    <tr>
        <th>Výsledek</th>
        <th>Počet hodnotících</th>
    </tr>
  </thead>

  <% @votes_count_table.each do |votes_count_table| %>
    <tr>
        <td><%= votes_count_table.result %></td>
        <td><%= votes_count_table.num %></td>
    </tr>
  <% end %>
</table>
</div>

<div class="row">
    <%= pie_chart Vote.group(:result).count %>
</div>

    <div class="row">
        <div class="col-sm">
            <%= link_to "Smazat vyhodnocení",  remove_all_results_path, :class => 'btn btn-danger', :method => :post %>
    </div>

    </div>
</div>
  

</body>
</html>