<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Hodnocení prezentací</title>
</head>
<body style="background-color: #ededed">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="nav1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="mainNav" >
            <div class="navbar-nav">
               <%= link_to 'Hodnotit', votes_path, :class => 'nav-item nav-link' %> 
               <%= link_to 'Výsledky', results_path, :class => 'nav-item nav-link' %>
                
                <a class="nav-item nav-link" href="{link showAboutApp}"> O aplikaci</a>
            </div>

        </div>
    </nav>

<div class="container">
    <h1>Vyhodnocení</h1>
 
<table>
  <tr>
    <th>Result</th>
    
    <th></th>
  </tr>
 
  <% @votes.each do |votes| %>
    <tr>
      <td><%= votes.result %></td>
      
    </tr>
  <% end %>
</table>



</div>
  

</body>
</html>